div.slider
	div.slider__item
		div.slider__body-img
			img.img(src="images/slider__img-01.png", alt="Самосвал Komatsu", title="Самосвал Komatsu")
	div.slider__item
		div.slider__body-img
			img.img(src="images/slider__img-01.png", alt="Самосвал Komatsu", title="Самосвал Komatsu")
	div.slider__item
		div.slider__body-img
			img.img(src="images/slider__img-01.png", alt="Самосвал Komatsu", title="Самосвал Komatsu")
	div.slider__item
		div.slider__body-img
			img.img(src="images/slider__img-01.png", alt="Самосвал Komatsu", title="Самосвал Komatsu")
	div.slider__item
		div.slider__body-img
			img.img(src="images/slider__img-01.png", alt="Самосвал Komatsu", title="Самосвал Komatsu")