mixin picture(data)
  picture.picture
    source(media="(min-width: 600px)" srcset="images/logo.png 1x, images/logo-white@2x.png 2x")
    img(src="https://ak6.picdn.net/shutterstock/videos/6623246/thumb/4.jpg", alt="logo" srcset="images/logo@2x.png 2x")