.header-mobile {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow-y: auto;

	/* 3 Typography */
	text-align: center;
}
.header-mobile__wrapper {
	/* 2 Block model */
	width: 100%;
	max-width: 310px;
	margin: 0 auto;
}
.header-mobile__top {
	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	margin-bottom: 20px;
}
.header-mobile__btn {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: block;
	width: 22px;
	height: 19px;

	/* 4 Visual */
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}
.header-mobile__btn::before,
.header-mobile__btn::after {
	/* 1 Positioning */
	position: absolute;
	right: 0;
	left: 0;

	/* 2 Block model */
	display: block;
	height: 3px;

	/* 4 Visual */
	content: '';
	background-color: $color-primary;
}
.header-mobile__btn::before {
	/* 1 Positioning */
	top: 0;

	/* 4 Visual */
	transform: rotate(45deg) translate(5px, 6px);
}
.header-mobile__btn::after {
	/* 1 Positioning */
	bottom: 0;

	/* 4 Visual */
	transform: rotate(-45deg) translate(5px, -6px);
}
.header-mobile__contact {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
}
.header-mobile__contact a {
	/* 2 Block model */
	display: block;
	margin-bottom: 30px;

	/* 3 Typography */
	color: $color-primary;
}
.header-mobile .menu__item a {
	/* 2 Block model */
	display: block;
	padding: 20px 0;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */