div.header-mobile
	div.header-mobile__top
		+logo({img: 'logo.svg'})
		button.header-mobile__btn(type="button")
			span.visually-hidden Закрыть

	div.header-mobile__body.header-mobile__wrapper
		+menu('Хостинг' ,'VPS / VDS', 'Домены' ,'Выделенные серверы', 'Готовые решения')