mixin checkbox(data)
	div.checkbox(class!=attributes.class)
		label(for!=data.name )
			if data.checked
				input(type="checkbox" name=data.name id!=data.name value=data.value checked disabled!=attributes.disabled)
			else
				input(type="checkbox" name=data.name id!=data.name value=data.value disabled!=attributes.disabled)
			span