footer.footer.gray
	div.footer__body
		div.container
			div.row
				div.col-12.col-md-5
					div.footer__item
						h3.h3 контакты
						p.text.text--sm Адрес: Москва 123456, 1-й Волоколамский проезд, 10 
							br
							|Телефон: 
							a.link(href="tel:+74959823959") +7(495) 982-39-59
							br
							|Факс: 
							a.link(href="fax:+74959823952") +7(495) 982-39-52
						p.text.text--sm ОГРН: 0057356320984
							br
							|ИНН: 000111235875
							br
							|Email: 
							a.link(href="mailto:rupd@komatsuglobal.ru") rupd@komatsuglobal.ru

				div.col-12.col-md-4
					div.footer__item
						h3.h3 О компании

						+menu-vertical({
							items: ['История','Новости', 'Контакты', 'Сервис', 'Запчасти']
						})

				div.col-12.col-md-3
					div.footer__item.footer__item--mb0
						h3.h3 социальные сети
					

	div.footer__bottom
		div.container
			div.row
				div.col-12
					p.text.text--sm Copyright &copy;&nbsp;2020&nbsp;ООО &laquo;Комацу&nbsp;Мэнуфэкчуринг&nbsp;Рус&raquo;. All&nbsp;Rights&nbsp;Reserved.