.link {
	/* 3 Typography */
	color: $color-text;
	text-decoration: none;

	/* 5 Animation */
	transition: all 0.4s;
}
.link:hover {
	/* 3 Typography */
	text-decoration: underline;

	/* 4 Visual */
	opacity: 0.7;
}
.link:focus {
	/* 3 Typography */
	text-decoration: underline;

	/* 4 Visual */
	opacity: 0.7;
}
.link:active {
	/* 3 Typography */
	text-decoration: underline;

	/* 4 Visual */
	opacity: 0.9;
}
.link:visited {
	/* 3 Typography */
	color: red;
}