doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body
		include ../blocks/mixins.pug
		
		div.container
			div.row
				div.col-12
					div.mr-mb10
						a.link(href="#") Link
			div.mr-mb10
				+btn({text: 'Запустить'})(class="btn-dis" disabled)

				+btn({text: 'Запустить', type: "link", url: '#', rel: '#'})(class="btn-dis")

				+btn({text: 'Запустить', icon_l: 'icon--cart'})

				+btn({text: 'Запустить', icon_r: 'icon--cart'})
			div.mr-mb10
				+btn({text: 'Запустить', icon_r: 'icon--cart'})(class="btn--block")
			div.mr-mb10
				+btn({text: 'Запустить Flat'})(class="btn--flat")
				+btn({text: 'Запустить Flat'})(class="btn--flat" disabled)
				+btn({text: 'Запустить'})(class="btn--outline")
				+btn({text: 'Запустить', icon_l: 'icon--cart'})(class="btn--outline")
			div.mr-mb10
				+hamburger({})
			div.mr-mb10
				+breadcrumbs({items:['Главная','Проукция', 'Контакты', 'Адрес']})
			div.mr-mb10
				include ../blocks/pagination/pagination.pug
			div.mr-mb10
				h1.h1 Text 1
				h2.h2 Text 2
				h3.h3 Text 3
				h4.h4 Text 4
				h5.h5 Text 5
				h6.h6 Text 6
			div.mr-mb10
				p.lead Lead
			div.mr-mb10.pd-t10
				a.link(href="#") Link
			div.mr-mb10.pd-b10
				+icon-text({icon: 'icon--cart', text: 'Москва, ул. Боровая, д.&nbsp;7, стр.&nbsp;7'})
				+icon-text({icon: 'icon--cart', text: '6400201@colorel.ru', mailto: true})(class="icon-text--underline")
				+icon-text({icon: 'icon--cart', text: '+7 (495) 640-02-01', url: '+74956400201', tel: true})

			div.mr-mb10.page-text
				h1 Title
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus deleniti aliquam nisi ullam nam, ex maxime rerum quis corrupti nihil dolorum dolore aut sed, vitae expedita. Minima dolor porro quia?
				h2 Title 2
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus deleniti aliquam nisi ullam nam, ex maxime rerum quis corrupti nihil dolorum dolore aut sed, vitae expedita. Minima dolor porro quia?
				h3 Title 3
				ul
					li 1
					li 2
					li 3
				h4 Title 4
				ol
					li 1
					li 2
					li 3
					li 4
				ul
					li 1
					li 2
					li 3
				h5 Title 5
				p Programm
				code function checkParent (src, dest) {
								|while (src != null) {
								|	if (src.tagName == dest) return src
								|		src = src.parentElement
								|}
								|return null
								|}
				h6 Title 6
				figure 
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQv0tThq7hxCuIOpkvKSQfb3luzsy0pvlqd4Q8ZkEaz2ld0-ssb", alt="закат")
					figcaption закат
				figure 
					img(src="http://forumsmile.ru/u/1/4/f/14fd113eac8b7e6f9381b2653e4badf1.jpg", alt="закат")
					figcaption закат
				p img
				picture
					source(srcset="https://ak6.picdn.net/shutterstock/videos/6623246/thumb/4.jpg" media="(min-width: 600px)")
					img(src="mdn-logo-wide.png", alt="" srcset="images/logo.png@2 2x")

				blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolor esse dolorem assumenda id aperiam placeat. In sequi corporis unde veniam! Quos eveniet qui eius iusto nesciunt molestiae illum commodi?

			div.mr-mb10
				+menu('Главная' ,'Проукция', 'Контакты' ,'Адрес')

			div.mr-mb10
				+menu-vertical({
						items: ['Главная','Проукция', 'Контакты', 'Адрес', 'Профиль'
						  ]
				  	})
			div.mr-mb10
				+list({
						items: ['Первая лишка','Вторая лишка', 'Третья лишка', 'Четвертая лишка', 'Пятая лишка'
						  ]
				  	})
			div.mr-mb10
				+logo({img: 'logo.png'})
			div.mr-mb10
				+picture({})
			div.mr-mb10
				+input({label_text: 'Ваше Имя', type: 'text', name: 'name_1', placeholder: 'Как Вас зовут ?', value: 'Алексей'})
				+input({label_text: 'Телефон', type: 'tel', name: 'tel_1', placeholder: 'Ваш номер телефона'})
				+input({label_text: 'Почта', type: 'tel', name: 'tel_1', placeholder: 'Ваша почта'})(disabled="disabled")
			div.mr-mb10
				+textarea({title: 'Поле ввода', name: 'message', rows: '10', placeholder: 'Кратко опишите задачу, и мы обязательно с Вами свяжемся!'})
				+textarea({title: 'Поле ввода', name: 'message', rows: '10', placeholder: 'Опишите ваш запрос.'})(disabled="disabled")
			div.mr-mb10
				+checkbox({name: 'accept'})
				+checkbox({name: 'check', checked: true})
				+checkbox({name: 'dese'})(disabled="disabled")
				+checkbox({name: 'dis', checked: true})(disabled="disabled")
			div.mr-mb10
				+select({
						name: 'select',
						value: [
							'Сайт',
							'Мобильное приложение',
							'Подкаст'
						],
						items: [
							'Сайт',
							'Мобильное приложение',
							'Подкаст'
						]
					})
			div.mr-mb10
				+radio({name: 'radio_1', text: 'First'})
				+radio({name: 'radio_1', text: 'Two'})
				+radio({name: 'radio_1', text: 'Third', checked: true})
				+radio({name: 'radio_1', text: 'Fires'})(disabled="disabled")

			div.mr-mb10
				include ../blocks/form/form.pug
			div.mr-mb10
				+search({label_text: 'поиск', type: 'text', name: 'search', placeholder: 'Введите для поиска', icon: 'icon--cart'})
		include include/script.pug