.logo {
	/* 2 Block model */
	display: block;
	width: 100%;
	max-width: 54px;
	@media (min-width: 992px) {
		/* 2 Block model */
		max-width: 57px;
	}
}
.logo img {
	/* 2 Block model */
	display: block;
	width: 100%;
}