.header {
	/* 1 Positioning */
	position: relative;
	z-index: 5;

	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	@include space(padding, top, violet);
	@include space(padding, bottom, violet);
	@include space(margin, bottom, yellow);

	/* 4 Visual */
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.header__body {
	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 15px;
}
.header__menu {
	/* 2 Block model */
	display: none;
	@media (min-width: 992px) {
		/* 2 Block model */
		display: block;
		margin-left: auto;
	}
}
.header__action {
	/* 2 Block model */
	display: none;
	@media (min-width: 992px) {
		/* 2 Block model */
		display: block;
		margin-left: 112px;
	}
}
.header__mobile {
	/* 1 Positioning */
	position: absolute;
	top: -5000px;
	left: 0;
	z-index: 10;

	/* 2 Block model */
	display: block;
	width: 100%;
	height: 100vh;
	padding-top: 14px;

	/* 4 Visual */
	background-color: $color-white;
	opacity: 0;

	/* 5 Animation */
	transition: opacity 0.5s;
}
.header__mobile--open {
	/* 1 Positioning */
	top: 0;

	/* 5 Animation */
	animation: header-mobile 0.5s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-direction: normal;
}
.header__hamburger {
	/* 2 Block model */
	margin-left: auto;
	@media (min-width: 992px) {
		/* 2 Block model */
		display: none;
	}
}
.header__btn {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: block;
	width: 31px;
	height: 19px;

	/* 4 Visual */
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}
.header__btn::before,
.header__btn::after {
	/* 1 Positioning */
	position: absolute;

	/* 2 Block model */
	display: block;
	height: 3px;

	/* 4 Visual */
	content: '';
}
.header__btn::before {
	/* 1 Positioning */
	top: 0;
	right: 0;
	left: 0;

	/* 4 Visual */
	background-color: $color-primary;
}
.header__btn::after {
	/* 1 Positioning */
	right: 0;
	bottom: 0;

	/* 2 Block model */
	width: 22px;

	/* 4 Visual */
	background-color: $color-text;
}
.header__btn-border {
	/* 1 Positioning */
	position: absolute;
	top: 8px;
	right: 0;

	/* 2 Block model */
	display: block;
	width: 22px;
	height: 3px;

	/* 4 Visual */
	background-color: $color-text;
}
.scrolled .header {
	/* 1 Positioning */
	position: fixed;
	left: 0;
	right: 0;

	/* 4 Visual */
	background-color: $color-white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@keyframes header-mobile {
	0% {
		top: -5000px;
		opacity: 0;
	}
	1% {
		top: 0;
	}
	100% {
		opacity: 1;
	}
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */