header.header
	div.container
		div.row.align-items-center
			div.header__body
				div.header__logo
					+logo({img: 'logo.svg'})

				div.header__menu
					+menu('Хостинг' ,'VPS / VDS', 'Домены' ,'Выделенные серверы', 'Готовые решения')

				div.header__action
					+btn({text: 'Войти', type: 'link', url: ''})(class="btn--flat")
				div.header__hamburger
					button.header__btn(type="button")
						span.visually-hidden Открыть
						span.header__btn-border

				div.header__mobile
					include ../header-mobile/header-mobile.pug