section.top
	div.container
		div.row.align-items-center
			div.col-12.col-md-5
				div.top__left
					p.subtitle Нужен качественный хостинг?
					h1.h1 Новый виртуальный хостинг 
					p.text При оплате Виртуального Хостинга за год по промокоду TEHAROBOT, скидка 25%
					div.top__action
						+btn({text: 'Начать сейчас', type: 'link', ur: '#'})
						+btn({text: 'Подробнее', type: 'link', ur: '#'})(class="btn--flat")
			div.col-12.col-md-7
				div.top__right
					img.img(src="images/top__img-01.jpg", alt="хостинг")