.hamburger {
	/* 2 Block model */
	display: inline-block;
	padding: 1px 0 0 0;
	margin: 0;
	overflow: visible;

	/* 3 Typography */
	font: inherit;
	color: inherit;
	text-transform: none;

	/* 4 Visual */
	cursor: pointer;
	background-color: transparent;
	border: 0;
	outline: none;

	/* 5 Animation */
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
}
.hamburger:hover {
	/* 4 Visual */
	opacity: 0.7;
}
.hamburger-box {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: inline-block;
	width: 30px;
	height: 27px;
}
.hamburger-inner {
	/* 1 Positioning */
	top: 50%;

	/* 2 Block model */
	display: block;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	/* 1 Positioning */
	position: absolute;

	/* 2 Block model */
	width: 30px;
	height: 4px;

	/* 4 Visual */
	background-color: red;

	/* 5 Animation */
	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
}
.hamburger-inner::before,
.hamburger-inner::after {
	/* 2 Block model */
	display: block;

	/* 4 Visual */
	content: "";
}
.hamburger-inner::before {
	/* 1 Positioning */
	top: -8px;
}
.hamburger-inner::after {
	/* 1 Positioning */
	bottom: -8px;
}
.hamburger--spin .hamburger-inner {
	/* 5 Animation */
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: 0.22s;
}
.hamburger--spin .hamburger-inner::before {
	/* 5 Animation */
	transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
	/* 5 Animation */
	transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
	/* 4 Visual */
	background-color: red;

	/* 5 Animation */
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: rotate(225deg);
}
.hamburger--spin.is-active .hamburger-inner::before {
	/* 1 Positioning */
	top: 0;

	/* 4 Visual */
	opacity: 0;

	/* 5 Animation */
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
	/* 1 Positioning */
	bottom: 0;

	/* 4 Visual */
	background-color: red;

	/* 5 Animation */
	transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: rotate(-90deg);
}